@import "tailwindcss";
@import "tw-animate-css";
/* @import "tw-animate-css"; */

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --hu-font-geist: var(----hu-font-geist);
  --hu-font-jetbrains: var(----hu-font-jetbrains);
  --radius: var(----radius);
  --card-radius: var(----card-radius);
  --color-hu-background: var(----hu-background);
  --color-hu-foreground: var(----hu-foreground);
  --color-hu-card: var(----hu-card);
  --color-hu-card-foreground: var(----hu-card-foreground);
  --color-hu-primary: var(----hu-primary);
  --color-hu-primary-foreground: var(----hu-primary-foreground);
  --color-hu-secondary: var(----hu-secondary);
  --color-hu-secondary-foreground: var(----hu-secondary-foreground);
  --color-hu-muted: var(----hu-muted);
  --color-hu-muted-foreground: var(----hu-muted-foreground);
  --color-hu-accent: var(----hu-accent);
  --color-hu-accent-foreground: var(----hu-accent-foreground);
  --color-hu-destructive: var(----hu-destructive);
  --color-hu-destructive-foreground: var(----hu-destructive-foreground);
  --color-hu-border: var(----hu-border);
  --color-hu-input: var(----hu-input);
  --color-hu-ring: var(----hu-ring);
  --color-color-fd-background: var(----color-fd-background);
  --color-color-fd-card: var(----color-fd-card);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

:root {
  --radius: 8px;
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
  --hu-font-geist: var(--font-geist);
  --hu-font-jetbrains: var(--font-jetbrains-mono);
  --card-radius: 10px;
  --hu-background: hsl(0, 0%, 100%);
  --hu-foreground: hsl(0, 0%, 14%);
  --hu-card: hsl(0, 0%, 99%);
  --hu-card-foreground: hsl(0, 0%, 14%);
  --hu-primary: hsl(235, 100%, 60%);
  --hu-primary-foreground: hsl(0, 0%, 98%);
  --hu-secondary: hsl(0, 0%, 97%);
  --hu-secondary-foreground: hsl(0, 0%, 20%);
  --hu-muted: hsl(0, 0%, 97%);
  --hu-muted-foreground: hsl(0, 0%, 56%);
  --hu-accent: hsl(0, 0%, 96%);
  --hu-accent-foreground: hsl(0, 0%, 20%);
  --hu-destructive: hsl(9, 96%, 47%);
  --hu-destructive-foreground: hsl(0, 0%, 98%);
  --hu-border: hsl(0, 0%, 92%);
  --hu-input: hsl(0, 0%, 100%);
  --hu-ring: hsl(0, 0%, 71%);
  --color-fd-background: hsl(var(--hu-background));
  --color-fd-card: hsl(var(--hu-background));
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
  --hu-background: hsl(0, 0%, 7%);
  --hu-foreground: hsl(0, 0%, 100%);
  --hu-card: hsl(0, 0%, 9%);
  --hu-card-foreground: hsl(0, 0%, 100%);
  --hu-primary: hsl(235, 100%, 60%);
  --hu-primary-foreground: hsl(0, 0%, 98%);
  --hu-secondary: hsl(0, 0%, 15%);
  --hu-secondary-foreground: hsl(0, 0%, 100%);
  --hu-muted: hsl(0, 0%, 15%);
  --hu-muted-foreground: hsl(0, 0%, 71%);
  --hu-accent: hsl(0, 0%, 15%);
  --hu-accent-foreground: hsl(0, 0%, 100%);
  --hu-destructive: hsl(0, 84%, 50%);
  --hu-destructive-foreground: hsl(0, 0%, 98%);
  --hu-border: 0, 0%, 100%, 10%;
  --hu-input: 0, 0%, 100%, 5%;
  --hu-ring: hsl(0, 0%, 56%);
  --color-fd-background: hsl(var(--hu-background));
  --color-fd-card: hsl(var(--hu-background));
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

/* Aturan khusus pas nge-print */
@media print {
  /* Sembunyiin SEMUA-nya */
  body * {
    visibility: hidden;
  }

  /* Tampilin 'print-container' dan semua isinya */
  .print-container,
  .print-container * {
    visibility: visible;
  }

  /* Pindahin 'print-container' ke '0,0' */
  .print-container {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
  }

  /* hapus 'header/footer' bawaan browser */
  @page {
    size: auto;
    margin: 10mm;
  }
}
